# Eclipse stuff
.classpath
.project
.settings
.metadata
.recommenders

# NetBeans
nbproject
.nb-gradle*
build.xml
nbbuild

# Idea stuff 
/.idea
*.iml

# Various IDEs like to add child .gitignore files
**/.gitignore

# vim
.*.sw[a-p]

# various other potential build files
target
build
.gradle
bin
dist
out
localexport.jardesc
forgeInfo

# Minecraft, Bukkit and Forge files
# (Eclipse uses ./plaftforms/forge/ as the root when running Forge, IntelliJ uses ./)
/config/
/logs/
/mods/
/saves/
/run/
/banned-players.txt
/banned-ips.txt
/crash-reports
/eula.txt
/config
/options.txt
/ops.txt
/server.properties
/white-list.txt
level.dat_old
session.lock
*.dat
*.mca
/banned-players.txt
/banned-ips.txt
/crash-reports
/eula.txt
/logs/
/mods/
/config/
/options.txt
/ops.txt
/saves/
/server.properties
/white-list.txt
/run/

# Filesystem dust
Thumbs.db
.DS_Store
*.lock
*.launch